<section class="app-add-contact">
  <h1>{{pageTitle}}</h1>
  <form (submit)="onSubmit()" [formGroup]="contactForm" class="app-add-contact__form">
    <mat-form-field>
      <input matInput placeholder="Nome" formControlName="name" type="text">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Telefone" formControlName="phone" type="number">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="E-mail" formControlName="email" type="email">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Empresa" formControlName="company" type="text">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Cargo" formControlName="role" type="text">
    </mat-form-field>
    <button *ngIf="!readOnlyMode" type="submit" mat-raised-button color="primary" class="app-add-contact__submit-btn">Salvar</button>
  </form>
  <button *ngIf="readOnlyMode" mat-mini-fab color="primary" class="c-fab" (click)="onEditClick()">
    <mat-icon>edit</mat-icon>
  </button>
</section>
