
// O enunciado dizia nao ser permitido o uso de temas, porem, para utilizar o
// angular material, é necessário incluir um tema base deles.
// Mais em https://material.angular.io/guide/getting-started#step-4-include-a-theme
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import 'variables';
@import 'fab';
@import 'navbar-top';
@import 'contacts';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: $default-black-color;
}

